[submodule "themes/hugo-incorporated"]
	path = themes/hugo-incorporated
	url = https://github.com/nilproductions/hugo-incorporated.git
[submodule "public"]
	path = public
	url = git@github.com:spring1944/spring1944.github.io.git
